.basic {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    gap: 1rem;
}
.title {
    margin-bottom: 5rem;
}
.cardNumber {
    border: 2px solid;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
}
.inputGroup {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
}
.errorGroup{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.cvc {
    border: 2px solid;
    text-align: center;
    padding: 1rem 0;
    width: 8rem;
}
.expiry {
    border: 2px solid;
    text-align: center;
    padding: 1rem 0;
    width: 8rem;
}
.message {
    font-size: 14px;
    color:red;
    text-align: end;
}
.submit {
    border: 2px solid;
    text-align: center;
    padding: 1rem 0;
}