.basic {
    display: flex;
    flex-direction: column;
}
.title {
    margin: auto;
    padding: 1rem 0;
}
.iconBox {
    padding: 4px
}
.heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 24px;
    border-bottom: 2px solid;
}